# Day- 4
# Patterns

# '*' Patterns

In [2]:
# Square Pattern
n = 5
for i in range(n):
    print('* ' * 5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
# Triangle 1
n = 5
for i in range(1, n + 1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *

In [4]:
# Triangle 2
n = 5
for i in range(1, n + 1):
    print('  ' * (n - i), end = '')
    print('* ' * i)

        *
      * *
    * * *
  * * * *
* * * * *

In [24]:
# Triangle 3
n = 5
for i in range(1, n + 1):
    for j in range((n-i)):
        print(end = ' ')
    print('* ' * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [37]:
# Triangle 4
n = 5
for i in range(1, n + 1):
    for j in range(2*(n-i)):
        print(end = ' ')
    print('* ' * (2 * i - 1))

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [40]:
# Triangle 5
n = 5
for i in range(n, 0, -1):
    for j in range(2*(n-i)):
        print(end = ' ')
    print('* ' * (2 * i - 1))

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [7]:
# Triangle Bomus
n = 5
for i in range(n + 1):
    print('* ' * (n - i))

* * * * *
* * * *
* * *
* *
*

In [41]:
for i in range(5, 0, -1):print(i)

5
4
3
2
1

# Number Patterns

In [57]:
# Num Pattern 1
n = 5
k = 1
for i in range(0, n):
    for j in range(i + 1):
        print(str(k), end = ' ')
        k += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [66]:
# Num Pattern 2
n = 5
for i in range(0, n):
    k = 1
    for j in range(i + 1):
        print(str(k), end = ' ')
        k += 1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [67]:
# Num Pattern 3
n = 5
k = 1
for i in range(1, n + 1):
    print('  ' * (n - i), end = '')
    print((str(k) + ' ') * i)
    k += 1

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [71]:
# Num Pattern 4
n = 5
k = 1
for i in range(0, n):
    for j in range(i + 1):
        print(str(k - j), end = ' ')
    k += 1
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [86]:
# Num Pattern 5
n = 5

for i in range(1, n + 1):
    for j in range((n-i)):
        print(end = ' ')
    print(str(i), end = ' ')
    print((str(i ** 2) + ' ') * (i - 1))

    1
   2 4
  3 9 9
 4 16 16 16
5 25 25 25 25

# Character Patterns

In [87]:
# Char Pattern 1
n = 5
for i in range(0, n):
    val = 65
    for j in range(i + 1):
        print(chr(val), end = ' ')
        val += 1
    print()

A
A B
A B C
A B C D
A B C D E

In [91]:
# Char Pattern 2
n = 5
val = 65
for i in range(1, n + 1):
    print((chr(val) + ' ') * i)
    val += 1

A
B B
C C C
D D D D
E E E E E

In [95]:
# Char Pattern 3
n = 5
val = 65
for i in range(0, n):
    print(' ' * (n - i), end = '')
    for j in range(i + 1):
        print(chr(val - j), end = ' ')
    val += 1
    print()

     A
    B A
   C B A
  D C B A
 E D C B A

In [10]:
rows = 6
for i in range(1, rows):
    print(i, end=' ')
    for j in range(i-1):
        print(i**2, end=' ')
    print('')

1
2 4
3 9 9
4 16 16 16
5 25 25 25 25